/* CARIO FONT */
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

:root {
  --main-color: #fe6f67;
  --secondary-color: #9a9a9a;
  --background: #ffffff;
  --foreground: #171717;
}

.Toastify__toast,
.Toastify__toast-body {
  font-family: "Almarai", sans-serif !important;
  direction: rtl;
  text-align: right;
}

html {
  direction: rtl;
  font-family: "Almarai", sans-serif;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 0.3s ease-in-out;
}

button,
svg {
  cursor: pointer;
}

select {
  appearance: none;
}

.--but {
  @apply w-full bg-[var(--main-color)] text-white text-sm font-semibold p-[16px] rounded-[12px] cursor-pointer;
}

.--sett-but {
  @apply min-w-[110px] h-[43px] p-[12px] rounded-[12px] gap-[8px] text-[14px] font-semibold bg-[var(--main-color)] text-white cursor-pointer;
}

.--sett-but-out {
  @apply min-w-[70px] h-[43px] p-[12px] rounded-[12px] gap-[8px] text-[14px] font-semibold bg-[#F9F9F9] cursor-pointer;
}

.--label {
  @apply absolute bg-white text-[14px] text-[#232323] right-4 bottom-9 px-2;
}

.--input {
  @apply w-full border border-[#D9D9D9] placeholder:pb-2 h-[48px] rounded-[12px] text-[14px] pr-[16px];
}

.--search-input {
  @apply border border-[#D9D9D9] text-[#232323] placeholder:text-[#9A9A9A] w-full sm:w-[320px] h-10 md:h-[42px] rounded-[12px] text-[12px] md:text-[14px] pr-[45px] placeholder:pb-2;
}

.--sett-input {
  @apply border placeholder:pb-2 w-full h-[48px] rounded-[12px] text-[14px] pr-[16px];
}

.--edit-but {
  @apply bg-[#6EC8F7] p-[10px] rounded-[10px] cursor-pointer hover:opacity-80 transition-opacity;
}

.--delete-but {
  @apply bg-[#EB2727] p-[10px] rounded-[10px] cursor-pointer hover:opacity-80 transition-opacity;
}

.--info-but {
  @apply bg-[#F4F4F4] p-[11px] rounded-[10px] cursor-pointer hover:opacity-80 transition-opacity;
}

.--send-but {
  @apply w-33.75 h-13.5 bg-(--main-color) text-white p-3.5 rounded-xl disabled:opacity-50;
}

.--spr {
  @apply w-4 h-4 m-[2px] mx-auto rounded-full border-[3px] border-solid border-white border-r-transparent animate-spin;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100% !important;
  display: block;
}

tr {
  border: none;
}
